$black: 											#000
$black-lighten: 				#232323
$white: 										#fff
$red: 												#ff5555
$gray: 											#f4f4f4
$green: 										#11d211

html, body
	height: 100%

body
	min-width: 320px
	font-size: 16px
	font-family: "Tahoma"
	line-height: 1.4

.page-wrapper
	margin-bottom: -60px
	min-height: 100%
	&:after
		content: ''
		display: block
		height: 60px

.content
	padding: 51px 0
	border-top: 1px solid $black-lighten
	border-bottom: 1px solid $black-lighten

.video
	z-index: 1
	height: 480px
	width: 100%
	position: relative
	overflow: hidden
	&:before
		content: ''
		display: block
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		z-index: 0
		background-color: rgba(35, 132, 169, 0.40)
	+sm
		height: 360px
	+xs
		height: 280px
	video
		height: auto
		width: auto
		min-width: 100%
		min-height: 100%
		position: absolute
		top: 50%
		z-index: -100
		left: 50%
		transform: translate(-50%, -50%)
	&__title
			font-size: 38px
			position: absolute
			top: 50%
			left: 50%
			text-align: center
			color: $white
			transform: translate(-50%, -50%)
			+sm
					font-size: 28px

.container
	max-width: 960px
	padding: 0 10px
	margin: 0 auto

.row
	font-size: 0
	margin-left: -10px
	margin-right: -10px

.col
	display: inline-block
	vertical-align: top
	padding: 0 20px
	width: 50%
	+sm
		width: 100%
		padding: 0 16px
	+xs
		padding: 0 8px

.text
	text-align: justify
	+sm
		text-align: center
		margin-bottom: 48px
p
	font-size: 16px

.footer
	background-color: rgba(#2384a9, 0.60)
	display: flex
	justify-content: center
	align-items: center
	height: 60px
	p
		font-size: 14px
		color: $white


.form
	width: 100%
	margin: 0 auto
	+sm
		max-width: 599px
	+xs
		max-width: 480px
	&-group
		+clr
		&:not(:last-child)
			margin-bottom: 24px
		&__label
			display: block
			font-size: 16px
			font-family: "Tahoma"
			margin-bottom: 8px
			display: block
			line-height: 1
	.btn
		display: inline-block
		max-width: 180px
		+xs
			display: block
			margin: 0 auto
		+r(480)
			max-width: 100%

.input
	+placeholder-color($black-lighten)
	display: inline-block
	vertical-align: top
	padding: 0 15px
	border: 1px solid #c5c5c5
	width: 100%
	height: 40px
	color: $black-lighten
	font-size: 14px
	font-weight: 400
	border-radius: 4px
	line-height: normal
	transition: border-color 0.24s ease-in-out, box-shadow 0.24s ease-in-out
	&:focus
		border-color: #acacac
		box-shadow: 0 1px 3px rgba(0,0,0,.1)
	&:disabled
		opacity: 0.7

.btn
	display: inline-block
	vertical-align: top
	padding: 0 15px
	border: 2px solid #2384a9
	width: 100%
	height: 40px
	color: $black
	font-size: 16px
	font-weight: 400
	line-height: normal
	background-color: transparent
	transition: background-color 0.24s ease-in-out, border-color 0.24s ease-in-out, color 0.24s ease-in-out
	position: relative
	border-radius: 50px
	&:active
		top: 1px
	&:hover
		background-color: #2384a9
		color: $white
	&:disabled
		opacity: 0.7