---
title: Grand Media test task
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="page-wrapper">
	<div class="video">
		<video width="100" height="360" autoplay loop poster="video/test.jpeg">
		  <source src="video/test.mp4" type="video/mp4">
		  <source src="video/test.webm" type="video/webm">
		</video>
		<h1 class="video__title">Lorem ipsum dolor.</h1>
	</div>
	<!-- END .video-wrapper -->

	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut ex sapien. Fusce tempor leo leo, a dictum sem tincidunt vitae. Integer id lorem sit amet sapien dignissim ultrices. Nam porttitor posuere lorem, feugiat cursus diam finibus hendrerit.</p>
					</div>
				</div>

				<div class="col">
					<form action="/" class="form">
						<div class="form-group">
							<label class="form-group__label">Введите Ваше имя</label>

								<div class="form-group__input">
									<input type="text" class="input" placeholder="User Name" required="required">
								</div>
						</div>

						<div class="form-group">
							<label class="form-group__label">Введите номер телефона</label>
							<div class="form-group__input">
								<input type="tel" class="input" placeholder="User Phone" required="required">
							</div>
						</div>

						<div class="form-group">
							<label class="form-group__label">Введите Ваш e-mail</label>
							<div class="form-group__input">
								<input type="email" class="input" placeholder="User Email" required="required">
							</div>
						</div>

						<div class="form-group">
							<button class="btn" type="submit">Send</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END .page-wrapper -->

<footer class="footer">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</footer>
<!-- END .footer -->
{% endblock %}
